<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.foxteam.noisyfox.tianyidialassistant"
    android:versionCode="1"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- 应用编号  由易积分平台添加 应用时自动生成 查看详情可见 777 -->
        <meta-data
            android:name="YJF_APP_ID"
            android:value="1838" />
        <!-- 应用密钥  由易积分平台添加 应用时自动生成 查看详情可见   QIANCHIANDEMARDEZIJIRENZHANGHAO -->
        <meta-data
            android:name="YJF_APP_KEY"
            android:value="EMPKYHN8UOWAGQDBQ5HH1QP3ONALBSUU0M" />
        <!-- 开发者ID  由易积分平台添加 应用时自动生成 查看详情可见  888 -->
        <meta-data
            android:name="YJF_DEV_ID"
            android:value="272" />
        <!-- 渠道号 开发者为自己应用在不同平台推广的标识参数  自定义6-20位字符串 yjf_adwall_v2.0.1 -->
        <meta-data
            android:name="YJF_APP_CHANNEL"
            android:value="jifeng" />
        <!-- 积分显示开关 -->
        <meta-data
            android:name="SHOW_SCORE"
            android:value="OPEN" />
        <!-- 注册详情Activity (必填) -->
        <activity
            android:name="com.emar.escore.sdk.view.DetailActivity"
            android:configChanges="keyboardHidden|orientation" />
        <!-- 注册网页Activity (必填) -->
        <activity
            android:name="com.emar.escore.sdk.view.WebActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name="org.foxteam.noisyfox.tianyidialassistant.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="org.foxteam.noisyfox.tianyidialassistant.SmsReceiver"
            android:enabled="true" >
            <intent-filter android:priority="1000" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="org.foxteam.noisyfox.tianyidialassistant.WidgetReceiver"
            android:enabled="true" >
        </receiver>
        <receiver android:name="org.foxteam.noisyfox.tianyidialassistant.TYWidgetProvider" >
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidgetproviderinfo" />
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="org.foxteam.noisyfox.tianyidialassistant.AlarmReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="org.foxteam.noisyfox.tianyidialassistant.updatePassword" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="org.foxteam.noisyfox.tianyidialassistant.BootReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="org.foxteam.noisyfox.tianyidialassistant.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="org.foxteam.noisyfox.tianyidialassistant.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.foxteam.noisyfox.tianyidialassistant.MainActivity" />
        </activity>
    </application>

</manifest>